
/* Color */
$red: #E9ABAB;
$green: #B3E9AB;
$purple: #D1ABE9;
$blue: #ABC4E9;
$light-black: #2E2E2E;
$white: #FFF;

$primary: $red;
$contrast: $light-black;
$base: $white;

/* Font Sizes */
$xxl-font: 80px;
$xl-font: 60px;